<div id="header">
  <h1>
    <a id="sitename" href="{{site.baseurl}}">{{site.title}}</a>
  </h1>

  {% include google_analytics.html %}

  <!-- Add something about you in p tag-->
  <p>{{ site.header }}</p>
  <hr/>

  <span class="credits pull-right social">
    {% for sl in site.data.personal.social %}
      {% unless sl[1] == '' %}
        <a href="{{sl[1]}}" target="_blank"><i class="fa fa-{{sl[0]}}"></i></a>
      {% endunless %}
    {% endfor %}
  </span>

  <span class="credits pull-left">
    {% for item in site.data.nav.items %}
      <a href="{{ item.path | prepend:site.baseurl }}" 
        {% if page.url == item.path %}style="text-decoration: underline; font-style: oblique;"{% endif %}
        {% if item.path contains '.pdf' %}target="_blank"{% endif %}>
          <span class="char1"> {{item.text}} </span>
      </a> 
      {% unless forloop.last %} | {% endunless %}
    {% endfor %}
  </span>


</div>
