---
---
/* main */

body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  // font: 16px/1.5 'Open Sans', sans-serif;
  font-family: 'Proxima Nova', sans-serif;
  // font-family: 'Mosk', sans-serif;
  color: #000000 ;
  font-weight: normal;
  background: {{ site.data.theme.bg }};
  -webkit-font-smoothing: subpixel-antialiased;
}

{% unless site.data.theme.show-scroll %}
::-webkit-scrollbar {
    width: 0 !important
}
{% endunless %}

h1, h2, h3, h4, h5 {
  color: black;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: normal;
}

h1, h3, h5 {
  margin: 0 0 10px;
}

h6 {
  margin: 0 0 0px;
}

ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1 {
  line-height: 2.3;
}

h1 {
  font-family: 'American Typewriter', sans-serif;
  font-weight: 100;
  font-size: 60px;
  text-align: center;
}


h2 {
  font-size: 26px;
  line-height: 0.5;
  // font-style: italic;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  // font-family: "American Typewriter";
}

h3 {
  font-size: 26px;
  // font-weight: 350;
  // color: black;
  line-height: 1.2;
  // font-family: 'American Typewriter', sans-serif;
}

h4 {
  font-size: 19px;
  font-weight: 600;
  color: black;
}

h6 {
  font-size: 16px;
  color: black;
  // text-align: justify;
  text-justify: inter-word;
}

h5 {
  font-size: 18px;
  color: black;
  // text-align: justify;
}

a .title1 .title2 .title3 {
  color: black; 
  font-weight: 400;
  text-decoration: none;
}

a:visited .title1 .title2 .title3 {
  color: black; 
  font-weight: 400;
  text-decoration: none;
}

a:hover .title1 {
  color: blue; 
  font-weight: 400;
  text-decoration: underline;
}

a:hover .title2 {
  color: red; 
  font-weight: 400;
  text-decoration: underline;
}

a:hover .title3 {
  color: yellow; 
  font-weight: 400;
  text-decoration: underline;
}

a .char1 { 
  color: black;
  font-weight: 400;
  text-decoration: none;
  font-family: 'American Typewriter', sans-serif;
}

a .char2 {
  color: black;
  font-weight: 600;
  text-decoration: underline;
  // font-family: 'American Typewriter', sans-serif;
  font-size: 19px;
}

a .char3 { 
  color: black;
  font-size: 17px;
  font-weight: 400;
  margin-right: 10px;
  text-decoration: underline;
}

a.char5 { 
  color: black;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  // margin-right: 10px;
}

a .char4 { 
  color: black;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
}

a:visited .char1 .char2 .char3 .char4 .char5 {
  text-decoration: none;
  outline: 0;
}

a:hover .char1 {
  text-decoration: underline;
  outline: 0;
  color: #0000FF;
}

a:hover .char4 {
  text-decoration: underline;
  outline: 0;
  color: red;
}

a:hover .char2 {
  text-decoration: underline;
  outline: 0;
  color: red;
}

a:hover .char3 {
  text-decoration: underline;
  outline: 0;
  color: #0000FF;
  font-weight: 600;
}

a.char5:hover {
  text-decoration: none;
  outline: 0;
}

a:active .char1 .char2 .char3 .char5 {
  text-decoration: none;
  outline: 0;
}

a:focus .char1 .char2 .char3 .char5 {
  text-decoration: none;
  outline: 0;
}

.wrapper {
  max-width: {{ site.data.theme.width }};
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

section img {
  max-width: 75%;
  height: auto;
}

blockquote {
  border-left: 3px solid #ffcc00;
  margin: 0 1 auto;
  padding: 0 0 0 20px;
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #424242;
  color: #b6b6b6;
  font-family: 'Mosk', sans-serif;
  font-weight: normal;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
}

hr {
  height: 0;
  border: 0;
  // border-bottom: 1px solid #6fb6d4;
  border-bottom: 1px solid black;
}

dt {
  color: #F0E7D5;
  font-family: 'Mosk', sans-serif;
  font-weight: normal;
}

section {
  padding: 20px 0px 50px 0px;
  margin: 20px 0;

  #header {
    border: 0;
    outline: none;
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;

    // h1 {
    //   font-family: 'American Typewriter', sans-serif;
    //   font-weight: 100;
    //   font-size: 60px;
    //   text-align: center;
    // }

    p {
      color: #5885b1;
      font-family: 'Mosk', sans-serif;
      font-weight: 80;
      font-size: 18px;
      text-align: center;
    }

    .credits {
      font-size: 18px;
      font-family: 'Mosk', sans-serif;
      font-weight: normal;
      color: black;
      margin-top: -25px;
      word-spacing: 7px;
    }

    .creditssmall {
      font-size: 18px;
      font-family: 'Mosk', sans-serif;
      font-weight: normal;
      color: black;
      margin-top: -33px;
    }
  }

  #header, #footer {
    .social {
      a {
        color: black;
        font-size: 17px;
        padding-left: .25em;
      }
    }
  }

  .p-title{
    color: #bc4027;
  }
}

.section-header-archive, .tag_name{
	margin:  15px 0 0 0;
}

.paginate{
  margin-bottom: 15px;
}

.resume p{
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 10px;
  font-family: 'Mosk', sans-serif;
  font-weight: normal;
  color: #A3BFC6;
}

.tags{
 font-size: 13px;
}

.tags a {
  display: inline-block;
  margin: 0 10px 10px 0;
}

/* for circled image */
.circular {
  width-max: 90%;
  height: auto;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-bottom: 15px;
}

#header #sitename,
.resume span,
.resume h2 {
  color: #bc4027;
}

#sitename{
  font-weight: 300;
}

mark, .mark {
  opacity: 0.9;
}

.orng{
  color: #EC4E3B;
}


// SHAPE 

.shape {
  height: 150px;
  width: 150px;
  background-color: #0074d9;
  border-radius: 80px;
  margin-bottom: 30px;
  float: left;
  margin-right: 20px;
}

.shape2 {
  border-radius: 30px;
}

.shape3 {
  border-radius: 5px;
}

// FANCY LINE 

.hr-lines{
  position: relative;
  max-width: 300px;
  margin: 30px auto;
  text-align: center;
}

.hr-lines:before{
  content:" ";
  height: 1px;
  width: 40px;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  left: -3%;
}

.hr-lines:after{
  content:" ";
  height: 1px;
  width: 40px;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  right: -3%;
}

// NEW HEADER 

ul.nav {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:33px;
    font-size:20px;
}
ul.nav li {
    border-right:2px solid black; /* you can change the border color matching to your background color */
    float:left;
}
ul.nav a {
    display:block;
    padding:0 28px;
    // color:#ccece6;
    text-decoration:none;
    background-color: none;
}
ul.nav a:hover {
    // background-color: none;
    background: rgba(204, 204, 204, 0.0);
    color: black;
}

.menu_wrap { }

// FANCY IMAGE WRAP 

// .image-container {
//   text-align: right;
// }

// .image-box {
//   position: relative;
//   display: inline-block;
// }

// .img {
//   max-width: 70%;
// }

// /* Style the frame around the picture */
// .image-container::after {
//   content: '';
//   position: absolute;
//   z-index: -1;
//   top: calc(30%);
//   left: calc(63% + 20px); /* Adjust the left value for desired spacing */
//   width: 40%;
//   height: 65%;
//   background: none;
//   border: 2px solid black;
// }

// .row {
//   display: flex;
// }

// .column {
//   flex: 1;
//   padding: 10px;
// }

// .column img {
//   display: block; /* This makes the image a block-level element */
//   margin: 0 25px 0 auto; /* Auto margin left and right will center the image horizontally */
// }

.image-container {
  position: relative;
  width: 110%; /* Set the width of the container */
  padding-bottom: 125%; /* Set the aspect ratio (e.g., 4:3) by adjusting the padding percentage */
  text-align: right;
  margin-top: 10px;
}

.image-box {
  position: absolute; /* Change to absolute positioning */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img {
  width: 58%; /* Remove max-width */
}

/* Style the frame around the picture */
.image-box::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 5%;
  bottom: 18%;
  left: 30%;
  background: none;
  border: 2px solid black;
  margin-top: -20px;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

.column img {
  display: block; /* This makes the image a block-level element */
  margin: 0 110px 0 auto; /* Auto margin left and right will center the image horizontally */
}

// TOGGLE BUTTON

.abstract {
    max-height: 0;
    overflow: hidden;
    margin: 10px 0px 10px;
    transition: max-height 0.3s ease-in-out;
}
.abstract-toggle {
    // color: #007ACC;
    margin-right: 10px;
    font-size: 17px;
    text-decoration: underline;
    cursor: pointer;
}
.abstract-toggle:hover {
  color: blue; 
  font-weight: 600;
  text-decoration: underline;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.no-bullets li {
    margin: 0;
    padding: 0;
}

// COPY URL FROM TITLE

.copyable {
  position: relative;
  cursor: pointer;
}

.copyable-icon::after {
  content: ""; /* Clear default content */
  display: inline-block;
  margin-left: 10px; /* Add spacing between the text and the icon */
  opacity: 0; /* Initially hide the icon */
  transition: opacity 0.1s ease-in-out;
  background-image: url("/files/link.svg"); /* URL to your SVG icon */
  background-size: contain; /* Fit the SVG icon within the space */
  width: 30px; /* Set the width of the SVG icon */
  height: 30px; /* Set the height of the SVG icon */
  color:black; 
  font-size: 30px;
}

.copyable:hover .copyable-icon::after {
  opacity: 1; /* Show the icon on hover */
}

// SOME MODIF. FOR IPHONE

@media (max-width: 480px) {
  /* Apply these styles only when the screen width is 768px or less (typical tablets and smaller) */

  /* Reset some default styles */
  #header h1 {
    font-size: 45px;
    margin: 0;
  }

  .nav {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .nav li {
    margin: 0px 0;
  }

  .nav a {
    font-size: 22px;
    color: #5885b1;
    text-decoration: none;
  }

  .creditssmall {
    font-size: 16px;
    margin-top: 10px;
  }

  /* Remove or adjust the social icons */
  .social {
    display: none;
  }

  .row {
    flex-direction: column; /* Change to a single column layout on mobile */
  }

  .column {
    flex: 1;
    padding: 20px; /* Increase padding for mobile spacing */
  }

  .column img {
    display: block; /* This makes the image a block-level element */
    margin: 0 50px 0 auto; /* Auto margin left and right will center the image horizontally */
  }

  .column:first-child {
    order: 2; /* Change the order of the first column on mobile */
  }

  .column:last-child {
    order: 1; /* Change the order of the last column on mobile */
  }

  // .image-container {
  //   text-align: center; /* Center the image horizontally on mobile */
  // }

  // .image-box {
  //   text-align: center; /* Center the image box contents on mobile */
  //   margin-left: auto; /* Reset the left margin on mobile */
  //   margin-right: auto; /* Center the image box horizontally on mobile */
  //   margin-bottom: 10px; /* Add margin to separate the image and text */
  // }

  // /* Style the frame around the picture on mobile */
  // .image-container::after {
  //   top: calc(18%); /* Adjust the top value for desired vertical positioning on mobile */
  //   left: calc(50% - 30%); /* Adjust the left value for desired spacing on mobile */
  //   width: 60%;
  //   height: 34%;
  // }

  // /* Adjust the max-width of the image on mobile */
  // .img {
  //   max-width: 90%;
  // }

  .image-container {
    position: relative;
    width: 100%; /* Set the width of the container */
    padding-bottom: 50%; /* Set the aspect ratio (e.g., 4:3) by adjusting the padding percentage */
    text-align: right;
    margin-top: 10px;
  }

  .image-box {
    position: absolute; /* Change to absolute positioning */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -25px;
  }

  .img {
    width: 90%; /* Remove max-width */
  }

  /* Style the frame around the picture */
  .image-box::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: none;
    border: 0px solid black;
    margin-top: -20px;
  }

}




